@{
    ViewData["Title"] = "QR code";
}


<div id="qrcode"></div>


@section Scripts
{

<script src="~/lib/qrcodejs/qrcode.js"></script>

<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), '@Html.Raw("https://moniba.azurewebsites.net")');
</script>
}
